/*
 * Gob Header
 */
.gob-header ul {
  margin: 0;
  padding-left: 0; }
.gob-header li {
  list-style: none;
  display: inline-block;
  color: #6a6a6a; }
.gob-header-wrap-social {
  height: 39px;
  background-color: #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .gob-header-wrap-social li {
    font-size: 12px; }
  .gob-header-wrap-social-main-info {
    padding: 9px 0; }
    .gob-header-wrap-social-main-info li {
      margin-right: 12px; }
    .gob-header-wrap-social-main-info h1 {
      color: #4e4d4d;
      font-weight: 700;
      font-size: 12px;
      margin: 0; }
.gob-header-logo-nav {
  height: 90px; }
  .gob-header-logo-nav li {
    vertical-align: top; }
  .gob-header-logo-nav-img {
    padding: 10px 0; }
    .gob-header-logo-nav-img img {
      height: 70px; }
    .gob-header-logo-nav-img-isc {
      padding: 15px 0; }
      .gob-header-logo-nav-img-isc img {
        height: 60px; }
  .gob-header-logo-nav-separador {
    padding: 23px 12px; }
    .gob-header-logo-nav-separador span {
      display: block;
      background-color: #ef3f37;
      width: 4px;
      height: 45px; }
  .gob-header-logo-nav-nav nav {
    font-size: 14px;
    padding: 25px 0; }
    .gob-header-logo-nav-nav nav a {
      color: #4e4d4d; }
      .gob-header-logo-nav-nav nav a:hover {
        color: #ef3f37;
        text-decoration: none; }
    .gob-header-logo-nav-nav nav .menu {
      height: 40px; }
      .gob-header-logo-nav-nav nav .menu .menu-item a {
        display: block;
        padding: 10px 10px; }
      .gob-header-logo-nav-nav nav .menu .menu-item:hover > .sub-menu {
        visibility: visible;
        opacity: .98; }
      .gob-header-logo-nav-nav nav .menu .menu-item .sub-menu .menu-item .sub-menu {
        left: 100%;
        top: -3px; }
      .gob-header-logo-nav-nav nav .menu .sub-menu {
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        visibility: hidden;
        display: block;
        opacity: 0;
        background-color: #f8f8f8;
        border-top: 3px solid #ef3f37;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        margin-top: 0;
        padding: 10px;
        position: absolute;
        z-index: 1; }
        .gob-header-logo-nav-nav nav .menu .sub-menu a {
          width: 180px; }
.gob-header-search {
  position: absolute;
  right: 14px;
  top: 31px;
  font-size: 16px;
  color: #6a6a6a; }
  .gob-header-search .fa {
    position: absolute;
    top: 5px;
    right: 5px; }
  .gob-header-search input {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    width: 26px;
    padding-right: 25px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    z-index: 3;
    cursor: pointer; }
    .gob-header-search input:focus {
      width: 150px;
      border: 1px solid rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=header.css.map */
